@model ProjectMiniShop.ViewModel.ShopViewModel
<div class="hero-wrap hero-bread" style="background-image: url('images/bg_6.jpg');">
	<div class="container">
		<div class="row no-gutters slider-text align-items-center justify-content-center">
			<div class="col-md-9 ftco-animate text-center">
				<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Shop</span></p>
				<h1 class="mb-0 bread">Shop</h1>
			</div>
		</div>
	</div>
</div>

<section class="ftco-section bg-light">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-lg-10 order-md-last">
				<div class="row">
					<div class="col-sm-12 col-md-12 col-lg-4 ftco-animate d-flex">
						<div class="row">
							@foreach (var product in Model.products)
							{
								<div class="col-sm-12 col-md-12 col-lg-4 ftco-animate d-flex">
									<div class="product d-flex flex-column">
										<a href="#" class="img-prod">
											<img class="img-fluid" src="~/images/@product.Image" alt="Colorlib Template">
											<div class="overlay"></div>
										</a>
										<div class="text py-3 pb-4 px-3">
											<div class="d-flex">
												<div class="cat">
													<span>@product.Company.Name</span>
												</div>
												<div class="rating">
													<p class="text-right mb-0">
														<a href="#"><span class="ion-ios-star-outline"></span></a>
														<a href="#"><span class="ion-ios-star-outline"></span></a>
														<a href="#"><span class="ion-ios-star-outline"></span></a>
														<a href="#"><span class="ion-ios-star-outline"></span></a>
														<a href="#"><span class="ion-ios-star-outline"></span></a>
													</p>
												</div>
											</div>
											<h3><a href="#">@product.Name</a></h3>
											<div class="pricing">
												<p class="price">
													@if (product.OldPrice != 0)
													{
														<span class="mr-2 price-dc">$@product.OldPrice.ToString("0.00")</span>
														<span class="price-sale">$@product.Price.ToString("0.00")</span>
													}
													else
													{
														<span class="price-sale">$@product.Price.ToString("0.00")</span>
													}
												</p>
											</div>
											<p class="bottom-area d-flex px-3">
												<a href="#" class="add-to-cart text-center py-2 mr-1"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
												<a asp-controller="product" asp-action="Details" asp-route-id="@product.Id"  class="buy-now text-center py-2">Details<span><i class="ion-ios-cart ml-1"></i></span></a>
											</p>
										</div>
									</div>
								</div>
							}

						</div>
					</div>
					
				</div>
				<div class="row mt-5">
					<div class="col text-center">
						<div class="block-27">
							<ul>
								@if (Model.CurrentPage != 1)
								{
									<li><a asp-controller="Product" asp-route-Page="@(Model.CurrentPage-1)">&lt;</a></li>
								}
								else
								{
									<li><a asp-controller="Product" asp-route-Page="@(Model.CurrentPage)">&lt;</a></li>
								}

								@for (int i = 1; i <= Model.NoOfPages; i++)
								{

								if (i == Model.CurrentPage)
								{


								<li class="active"><span>@i</span></li>
								}
								else
								{

								<li><a asp-controller="Product" asp-route-Page="@i">@i</a></li>
								}
								}
								@if (Model.CurrentPage != Model.NoOfPages)
								{
									<li><a asp-controller="Product" asp-route-Page="@(Model.CurrentPage+1)">&gt;</a></li>
								}
								else
								{
									<li><a asp-controller="Product" asp-route-Page="@(Model.CurrentPage)">&gt;</a></li>
								}

							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-4 col-lg-2">
				<div class="sidebar">
					<div class="sidebar-box-2">
						<h2 class="heading">Categories</h2>
						<div class="fancy-collapse-panel">
							<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingOne">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
												Men's Shoes
											</a>
										</h4>
									</div>
									<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
										<div class="panel-body">
											<ul>
												<li><a href="#">Sport</a></li>
												<li><a href="#">Casual</a></li>
												<li><a href="#">Running</a></li>
												<li><a href="#">Jordan</a></li>
												<li><a href="#">Soccer</a></li>
												<li><a href="#">Football</a></li>
												<li><a href="#">Lifestyle</a></li>
											</ul>
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingTwo">
										<h4 class="panel-title">
											<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
												Women's Shoes
											</a>
										</h4>
									</div>
									<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
										<div class="panel-body">
											<ul>
												<li><a href="#">Sport</a></li>
												<li><a href="#">Casual</a></li>
												<li><a href="#">Running</a></li>
												<li><a href="#">Jordan</a></li>
												<li><a href="#">Soccer</a></li>
												<li><a href="#">Football</a></li>
												<li><a href="#">Lifestyle</a></li>
											</ul>
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingThree">
										<h4 class="panel-title">
											<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
												Accessories
											</a>
										</h4>
									</div>
									<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
										<div class="panel-body">
											<ul>
												<li><a href="#">Jeans</a></li>
												<li><a href="#">T-Shirt</a></li>
												<li><a href="#">Jacket</a></li>
												<li><a href="#">Shoes</a></li>
											</ul>
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingFour">
										<h4 class="panel-title">
											<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
												Clothing
											</a>
										</h4>
									</div>
									<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
										<div class="panel-body">
											<ul>
												<li><a href="#">Jeans</a></li>
												<li><a href="#">T-Shirt</a></li>
												<li><a href="#">Jacket</a></li>
												<li><a href="#">Shoes</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="sidebar-box-2">
						<h2 class="heading">Price Range</h2>
						<form method="post" class="colorlib-form-2" asp-action="Filter">
							<div class="row">
								<div class="col-md-12">
									<div class="form-group" >
										<label for="guests">Price from:</label>
										<div class="form-field">
											<i class="icon icon-arrow-down3"></i>
											<select name="people" id="MinPrice" class="form-control">
												<option value="1"><a asp-action="Filter" asp-route-min="1"></a>1</option>
												<option value="200"><a asp-action="Filter" asp-route-min="200"></a>200</option>
												<option value="300"><a asp-action="Filter" asp-route-min="300"></a>300</option>
												<option value="400"><a asp-action="Filter" asp-route-min="400"></a>400</option>
												<option value="1000"><a asp-action="Filter" asp-route-min="1000"></a>1000</option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<label for="guests">Price to:</label>
										<div class="form-field">
											<i class="icon icon-arrow-down3"></i>
											<select name="people" id="MaxPrice" class="form-control">
												<option value="2000"><a asp-action="Filter" asp-route-max="2000"></a>2000</option>
												<option value="4000"><a asp-action="Filter" asp-route-max="4000"></a>4000</option>
												<option value="6000"><a asp-action="Filter" asp-route-max="6000"></a>6000</option>
												<option value="8000"><a asp-action="Filter" asp-route-max="8000"></a>8000</option>
												<option value="10000"><a asp-action="Filter" asp-route-max="1000"></a>10000</option>
											</select>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<script>
	const minPriceSelect = document.getElementById('MinPrice');
	const maxPriceSelect = document.getElementById('MaxPrice');

	minPriceSelect.addEventListener('change', function (event) {
		event.preventDefault();
		const minPrice = parseInt(minPriceSelect.value);
		const maxPrice = parseInt(maxPriceSelect.value)
		const url = `/product/Filter?page=1&min=${minPrice}&max=${maxPrice}`;
		window.location.href = url;
	});
	maxPriceSelect.addEventListener('change', function (event) {
		event.preventDefault();
		const minPrice = parseInt(minPriceSelect.value);
		const maxPrice = parseInt(maxPriceSelect.value);
		console.log("hello")
		const url = `/product/Filter?page=1&min=${minPrice}&max=${maxPrice}`;
		window.location.href = url;
	});
</script>
